<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Preview</title>
</head>

<body style="margin: 0; background-color: black;"><iframe frameborder="0"
        style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        srcdoc="<!DOCTYPE html><html lang=" en">

        <head>
            <meta charset="utf-8">
            <title>Preview</title>
        </head>

        <body style="margin: 0; background-color: black;"><video src=' + reader.result + ' controls autoplay></video>
        </body>

</html>"> src="reader.result"</iframe></body>

</html>