:root {
    --site-theme-color-1: #4079c7;
    --site-theme-color-1-hover: #5b90da;
    --site-theme-color-1-disabled: #4079c766;

    /* --site-theme-color-1: hsl(268, 40%, 63%);
    --site-theme-color-1-hover: hsl(268, 40%, 78%); */
    --site-theme-color-2: hsl(183, 72%, 79%);
    --background-color: hsl(0, 0%, 10%);
    --field-color: hsl(0, 0%, 20%);
    --field-color-2: hsl(0, 0%, 17%);
    --field-scrollbar-color: hsl(0, 0%, 35%);
    --field-scrollbar-color-hover: hsl(0, 0%, 30%);
    --letter-color: hsl(0, 0%, 95%);
    --link-color: hsl(219, 100%, 50%);
    --error-color: hsl(0, 100%, 40%);
    --font-family: Tahoma, sans-serif;  /* Verdana, Tahoma, Helvetica, sans-serif */
    font-family: Tahoma, sans-serif;    /* Verdana, Tahoma, Helvetica, sans-serif */
    font-size: 16px;
}

body {
    background-color: var(--background-color);
    color: var(--letter-color);
    overflow-y: overlay;
}

img {
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
}

/* Main Content Related */

.main-container {
    --width: 35%;

    left: calc((100% - var(--width)) / 2);
    width: var(--width);
    max-width: var(--width);
    margin: auto;
}

/* Scrollbar */

.scrollbar::-webkit-scrollbar {
    --width: 15px;

    display: block;
    width: calc(var(--width) / 2);
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    --border-radius: 5px;

    background-color: var(--field-scrollbar-color); 
    border-radius: var(--border-radius);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--field-scrollbar-color-hover);
    cursor: pointer;
}

.scrollbar::-webkit-scrollbar-track-piece:start {
    --margin-top: 5px;

    background: transparent;
    margin-top: var(--margin-top);
}

.scrollbar::-webkit-scrollbar-track-piece:end {
    --margin-bottom: 5px;

    background: transparent;
    margin-bottom: var(--margin-bottom); 
}

/* Scrollbar Preview */

.scrollbar-preview::-webkit-scrollbar {
    --width: 15px;

    display: block;
    width: calc(var(--width) / 2);
}

.scrollbar-preview::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollbar-preview::-webkit-scrollbar-thumb {
    --border-radius: 5px;

    background-color: var(--field-scrollbar-color); 
    border-radius: var(--border-radius);
}

.scrollbar-preview::-webkit-scrollbar-thumb:hover {
    background-color: var(--field-scrollbar-color-hover);
    cursor: pointer;
}

.scrollbar-preview::-webkit-scrollbar-track-piece:start {
    --margin-top: 1rem;

    background: transparent;
    margin-top: var(--margin-top);
}

.scrollbar-preview::-webkit-scrollbar-track-piece:end {
    --margin-bottom: 1rem;

    background: transparent;
    margin-bottom: var(--margin-bottom); 
}

/* Flash Message Classes */

.flash-message-container {
    --width: 30%;
    --border-radius: 1rem;
    
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: var(--width);
    max-width: var(--width);
    padding: var(--border-radius);
    z-index: 1000;
}

.flash-message-content {
    position: relative;
    width: 100%;
    height: 75%;
    border-radius: var(--border-radius);
    padding: var(--border-radius);
    background-color: var(--site-theme-color-1);
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.flash-message-text {
    --font-weight: bold;

    width: calc(100% - 2.5rem);
    font-weight: var(--font-weight);
}

.flash-message-close-button-container {
    --width: 1.5rem;

    position: absolute;
    width: var(--width);
    max-width: var(--width);
    height: var(--width);
    max-height: var(--width);
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 1001;
}

.flash-message-close-button-container:hover {
    background-color: var(--site-theme-color-1-hover);
    cursor: pointer;
}

.flash-message-close-button {
    --close-button-width: 1rem;
    --color: var(--letter-color);

    position: relative;
    width: var(--close-button-width);
    height: var(--close-button-width);
    margin: auto;
    top: calc((var(--width) - var(--close-button-width)) / 2);
    background-size: cover;
    box-sizing: border-box;
}

/* Page Navigation */

.page-navigation-container {
    --margin: 5%;

    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.page-navigation-button {
    --border-radius: 0.75rem;
    --padding: 0.75rem;

    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--site-theme-color-1);
}

.page-navigation-disabled-button {
    background-color: var(--site-theme-color-1-disabled);
}

.page-navigation-middle-button {
    --padding-top-bottom: 0.75rem;
    --padding-left-right: 1.25rem;
    --border-radius: 0.75rem;
    --margin: 0.2rem;

    margin-right: var(--margin);
    margin-left: var(--margin);
    padding-top: var(--padding-top-bottom);
    padding-bottom: var(--padding-top-bottom);
    padding-left: var(--padding-left-right);
    padding-right: var(--padding-left-right);
    border-radius: var(--border-radius);
    background-color: var(--site-theme-color-1);
}

.page-navigation-middle-disabled-button {
    --padding-top-bottom: 0.75rem;
    --padding-left-right: 1.25rem;
    --border-radius: 0.75rem;
    --margin: 0.2rem;

    margin-right: var(--margin);
    margin-left: var(--margin);
    padding-top: var(--padding-top-bottom);
    padding-bottom: var(--padding-top-bottom);
    padding-left: var(--padding-left-right);
    padding-right: var(--padding-left-right);
    border-radius: var(--border-radius);
    background-color: var(--site-theme-color-1-disabled);
}

.page-navigation-previous-button {
    --margin: 0.2rem;

    margin-right: var(--margin);
}

.page-navigation-next-button {
    --margin: 0.2rem;

    margin-left: var(--margin);
}

.page-navigation-active-button:hover {
    background-color: var(--site-theme-color-1-hover);
}

/* No Posts Found Classes */

.no-posts-found-text {
    --margin: 5%;
    
    font-size: 1.5rem;
    text-align: center;
    opacity: 0.5;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

/* Univeral Classes */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.link {
    cursor: pointer;
}

.link-color {
    color: var(--site-theme-color-1);
}

.link-color:hover {
    text-decoration: underline;
}

.block {
    display: block;
    overflow-x: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.error {
    --error-font-size: 0.75rem;

    font-size: var(--error-font-size);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 1%;
    color: var(--error-color);
}

.heading-text {
    --font-size: 3rem;
    --font-weight: bold;
    --margin: 5%;

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.preview-container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

.second-preview-container {
    position: fixed;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
}

.preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.preview-background {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
}

.hide {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.site-theme-color {
    background-color: var(--site-theme-color-1);
}

.site-theme-color-hover:hover {
    background-color: var(--site-theme-color-1-hover);
}

.field-theme-color-hover:hover {
    background-color: var(--field-color);
}

.confirmation-container {
    --width: 25rem;
    --height: 17.5rem;
    --border-radius: 2.5rem;

    min-width: var(--width); 
    max-width: var(--width); 
    min-height: var(--height); 
    max-height: var(--height);
    background-color: var(--background-color);
    border: 2px solid var(--site-theme-color-1);
    border-radius: var(--border-radius);
    overflow-y: auto;
    box-shadow: 1rem 1rem 1rem #00000099;
}

.confirmation-text {
    --margin: 10%;

    margin-top: var(--margin);
    margin-bottom: var(--margin);
    font-size: 2rem;
    font-weight: bold;
}

.confirmation-buttons-container {
    --margin-top: 12.5%;

    margin-top: var(--margin-top);
}

.confirmation-button {
    --border-radius: 15px;
    --font-size: 2rem;
    --font-weight: bold;
    --width: 25%;
    
    display: inline-block;
    width: var(--width);
    max-width: var(--width);
    margin-left: calc(var(--width) / 2);
    margin-right: calc(var(--width) / 2);
    border-radius: var(--border-radius);
    background-color: var(--site-theme-color-1);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    cursor: pointer;
}

.confirmation-button:hover {
    background-color: var(--site-theme-color-1-hover);
}

.confirmation-button:focus {
    outline-width: 0;
}

/* Disable Chrome Autofill Style */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus, 
select:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px var(--field-color) inset !important;
    -webkit-box-shadow: 0 0 0 1000px var(--field-color) inset !important;
    background-color: transparent !important;
    transition-property: background-color;
    transition-delay: 2147483647s;
    -webkit-text-fill-color: var(--letter-color) !important;
    caret-color: white !important;
}