/* Post Related */

.post {
    --border-radius: 2px;
    --padding: 25px;
    --profile-picture-radius: 25px;

    padding: 0px 25px;
    z-index: 1;
}

.post:last-child {
    margin-bottom: var(--padding);
}

.post-container {
    --background-image-gradient-direction: bottom right;

    position: relative;
    padding: var(--border-radius);
    border-radius: var(--border-radius);
    background-image: linear-gradient(to var(--background-image-gradient-direction), var(--site-theme-color-1), var(--site-theme-color-2));
    box-sizing: border-box;
}

.post-content {
    position: relative;
    padding: calc((var(--profile-picture-radius) + var(--padding) / 3) / 2);
    padding-top: calc(var(--profile-picture-radius) + var(--padding) / 3);
    background-color: var(--background-color);
    overflow-y: hidden;
}

.post-profile {
    --bottom: -35px;
    --left: -35px;
    --padding: 10px;

    position: relative;
    display: inline-block;
    bottom: var(--bottom);
    left: var(--left);
    background-color: var(--background-color);
    padding: var(--padding);
    z-index: 1;
}

.post-profile-picture {
    --margin-right: 5px;

    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: calc(2 * var(--profile-picture-radius));
    max-width: calc(2 * var(--profile-picture-radius));
    height: calc(2 * var(--profile-picture-radius));
    max-height: calc(2 * var(--profile-picture-radius));
    margin-right: var(--margin-right);
    border-radius: 50%;
}

.post-profile-name {
    --font-size: 1.20rem;
    --font-weight: bold;

    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.edit-post-heading-text {
    --font-size: 3rem;
    --font-weight: bold;
    --margin: 10%;

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    margin-bottom: var(--margin);
}

/* Post Input */

.post-input-container {
    --width: 100%;
    --height: 20%;
    --border-radius: 15px;

    position: relative;
    margin: auto;
    width: var(--width);
    max-width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
}

.post-input-text {
    --border-radius: 15px;
    --font-size: 1.25rem;
    --border-width: 5px;
    
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--field-color);
    background-color: var(--field-color);
    font-size: var(--font-size);
    resize: none;
}

textarea.post-input-text {
    padding: var(--border-radius);
}

textarea.post-input-text:focus {
    outline: none;
}

input.post-input-text {
    padding: var(--border-radius);
}

input.post-input-text:focus {
    outline: none;
}

/* Post Button */

.post-submit-container {
    --width: 40%;

    position: relative;
    margin: auto;
    width: var(--width);
    max-width: var(--width);
    border-radius: var(--border-radius);
}

.post-button {
    --border-radius: 15px;
    --font-size: 2rem;
    --font-weight: bold;
    --padding-top-bottom: 0.5rem;
    --padding-left-right: 1.5rem;
    
    width: 100%;
    max-width: 100%;
    padding: var(--padding-top-bottom) var(--padding-left-right);
    border-radius: var(--border-radius);
    background-color: var(--site-theme-color-1);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.post-button:hover {
    background-color: var(--site-theme-color-1-hover);
}

.post-button:focus {
    outline-width: 0;
}

.create-post-submit-container {
    --width: 20%;
    --margin-top: 7.5%;

    position: relative;
    margin-left: auto; 
    margin-right: 0;
    width: var(--width);
    max-width: var(--width);
    border-radius: var(--border-radius);
}

.create-post-button {
    --border-radius: 15px;
    --font-size: 1rem;
    --font-weight: bold;
    --padding-top-bottom: 0.5rem;
    --padding-left-right: 1.5rem;
    
    width: 100%;
    max-width: 100%;
    padding: var(--padding-top-bottom) var(--padding-left-right);
    border-radius: var(--border-radius);
    background-color: var(--site-theme-color-1);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.create-post-button:hover {
    background-color: var(--site-theme-color-1-hover);
}

.create-post-button:focus {
    outline-width: 0;
}

.edit-post-page {
    --width: 40%;
    --height: 100%;

    position: absolute;
    display: flex;
    left: calc((100% - var(--width)) / 2);
    align-items: center;
    justify-content: center;
    min-width: var(--width);
    max-width: var(--width);
    min-height: var(--height);
}

.edit-post-container {
    --width: 100%;

    position: relative;
    min-width: var(--width);
}

/* Post Dropdown Button */

.post-dropdown-container {
    --top: -1.5rem;
    --left: calc(100% - 1.5em);
    --width: 2.25rem;
    
    position: relative;
    display: inline-block;
    top: var(--top);
    left: var(--left);
    min-width: var(--width);
    max-width: var(--width);
    min-height: var(--width);
    max-height: var(--width);
    border-radius: 50%;
}

.post-dropdown-button {
    width: var(--width);
    height: var(--width);
    border-radius: 50%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center;
}
  
.post-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--field-color);
    border-radius: 0.5rem;
    min-width: 7.5rem;
    max-width: 7.5rem;
    z-index: 1;
}
  
.post-dropdown-content-button {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.post-dropdown-content-form-button-text {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    text-align: left;
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
}

.post-dropdown-container:focus-within .post-dropdown-content {
    display: block;
    outline: none;
    background-color: var(--field-color);
}

.post-dropdown-button:hover {
    background-color: var(--field-color);
}

.post-dropdown-content-button:hover {
    background-color: var(--field-scrollbar-color-hover);
}

.post-dropdown-content > .post-dropdown-content-button {
    border-radius: 0.5rem 0.5rem 0 0;
}

.post-dropdown-content-button + .post-dropdown-content-button {
    border-radius: 0;
}

.post-dropdown-content-button:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}

.post-dropdown-content-button:only-child {
    border-radius: 0.5rem;
}

/* Post Files */

.post-files-container {
    --columns: 6;
    --rows: 2;
    --gap: 0.3rem;
    --height: 300px;
    --border-radius: 1rem;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-auto-flow: row;
    row-gap: var(--gap);
    column-gap: var(--gap);
    min-height: var(--height);
    max-height: var(--height);
    border-radius: var(--border-radius);
}

.post-file-video-two-column {
    min-width: 100%;
    max-width: 100%;
    min-height: var(--height);
    max-height: var(--height);
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius);
}

.post-file-video-one-column {
    min-width: 100%;
    max-width: 100%;
    min-height: calc(var(--height) / 2 - var(--gap) / 2);
    max-height: calc(var(--height) / 2 - var(--gap) / 2);
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius);
}

.post-file-image-two-column {
    min-width: 100%;
    max-width: 100%;
    min-height: var(--height);
    max-height: var(--height);
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius);
}

.post-file-image-one-column {
    min-width: 100%;
    max-width: 100%;
    min-height: calc(var(--height) / 2 - var(--gap) / 2);
    max-height: calc(var(--height) / 2 - var(--gap) / 2);
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius);
}

.post-files-content-one {
    grid-column: span var(--columns);
    grid-row: span var(--rows);
    min-height: var(--height);
    max-height: var(--height);
    border-radius: var(--border-radius);
}
.post-files-content-one-per-column {
    grid-column: span 3; /* --columns / 2 */
    grid-row: span var(--rows);
    min-height: var(--height);
    max-height: var(--height);
    border-radius: var(--border-radius);
}

.post-files-content-one-per-row {
    grid-column: span var(--columns);
    grid-row: span 1; /* --rows / 2 */
    min-height: calc(var(--height) / 2 - var(--gap) / 2);
    max-height: calc(var(--height) / 2 - var(--gap) / 2);
    border-radius: var(--border-radius);
}

.post-files-content-two-per-row {
    grid-column: span 3; /* --columns / 2 */
    grid-row: span 1; /* --rows / 2 */
    min-height: calc(var(--height) / 2 - var(--gap) / 2);
    max-height: calc(var(--height) / 2 - var(--gap) / 2);
    border-radius: var(--border-radius);
}

.post-files-content-three-per-row {
    grid-column: span 2; /* --columns / 3 */
    grid-row: span 1; /* --rows / 2 */
    min-height: calc(var(--height) / 2 - var(--gap) / 2);
    max-height: calc(var(--height) / 2 - var(--gap) / 2);
    border-radius: var(--border-radius);
}

/* More Than 5 Files */

.post-preview-centered-text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    font-size: 3rem;
    font-weight: 500;
}

/* Creating a Post File Upload */

.post-file-upload-container {
    --margin-bottom: 5%;

	position: relative;
    margin-bottom: var(--margin-bottom);
}

.post-file-upload {
    --width: 30%;
    --margin-top-bottom: 5%;
    --padding: 10px;
    --border-radius: 15px;
    --font-weight: 600;

    display: inline-block;
    width: var(--width);
    margin-top: var(--margin-top-bottom);
    margin-bottom: var(--margin-top-bottom);
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight);
    background-color: var(--site-theme-color-1);
    cursor: pointer;
}

input[type=file].post-file-upload {
    display: none;
}

.post-file-upload:hover {
    background-color: var(--site-theme-color-1-hover);
    cursor: pointer;
}

.post-file-upload-placeholder-text {
    --padding: 10px;

    padding-left: var(--padding);
}

/* Post File Upload Preview */

.post-files-upload-thumbnails-container {
    --gap: 10px;

    position: relative;
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
}

.post-file-upload-image-thumbnails-container {
    --gap: 10px;
    
    position: relative;
    margin: auto;
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
}

.post-file-upload-image-thumbnails-container:empty {
    margin-bottom: auto;
}

.post-file-upload-image-thumbnail-container {
    position: relative;
    --width: 50px;

    width: var(--width);
}

.post-file-upload-image-thumbnail {
    --border-radius: 15px;
    
    width: var(--width);
    height: var(--width);
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center center;
}

.post-file-upload-video-thumbnail {
    --height: var(--width);
    --border-radius: 15px;
    
    width: var(--width);
    height: var(--width);
    border-radius: var(--border-radius);
    background-color: var(--site-theme-color-1);
}

.post-file-upload-video-thumbnail:hover {
    background-color: var(--site-theme-color-1-hover);
}

.post-file-upload-caption {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Play Button Figure */

.play-button {
    --play-button-width: 1.5rem;
    --color: var(--letter-color);

    position: relative;
    width: var(--play-button-width);
    height: var(--play-button-width);
    margin: auto;
    top: calc((var(--height) - var(--play-button-width)) / 2);
    background-image: url("/images/movie_white_24dp.svg");
    background-size: cover;
    box-sizing: border-box;
}

/* Close Button */

.close-button-container {
    --width: 50px;

    position: absolute;
    width: var(--width);
    max-width: var(--width);
    height: var(--width);
    max-height: var(--width);
    top: calc(var(--width) / 2);
    right: calc(var(--width) / 2);
    border-radius: 50%;
}

.close-button-container:hover {
    background-color: var(--field-scrollbar-color-hover);
    cursor: pointer;
}

.close-button {
    --close-button-width: 1.5rem;
    --color: var(--letter-color);

    position: relative;
    width: var(--close-button-width);
    height: var(--close-button-width);
    margin: auto;
    top: calc((var(--width) - var(--close-button-width)) / 2);
    background-image: url("/images/close_white_24dp.svg");
    background-size: cover;
    box-sizing: border-box;
}

.close-button-thumbnail-preview-container {
    --width: 15px;

    position: relative;
    width: var(--width);
    max-width: var(--width);
    height: var(--width);
    max-height: var(--width);
    top: calc(var(--width) * 4.8 * -1);
    right: calc(var(--width) / 6);
    margin: auto;
    margin-right: 0%;
    background-color: var(--error-color);
    border-radius: 50%;
    z-index: 2;
}

.close-button-thumbnail-preview-container:hover {
    --error-color-hover: hsl(0, 100%, 30%);

    background-color: var(--error-color-hover);
    cursor: pointer;
}

.close-thumbnail-preview-button {
    --close-button-width: 0.75rem;
    --color: var(--letter-color);

    position: relative;
    width: var(--close-button-width);
    height: var(--close-button-width);
    margin: auto;
    top: calc((var(--width) - var(--close-button-width)) / 2);
    background-image: url("/images/close_white_24dp.svg");
    background-size: cover;
    box-sizing: border-box;
}

/* Next File Preview Button */

.next-button-container {
    --width: 40px;

    position: absolute;
    width: var(--width);
    max-width: var(--width);
    height: var(--width);
    max-height: var(--width);
    top: calc(100% / 2 - var(--width) / 2);
    right: calc(100% / 4 + var(--width) / 2);
    border-radius: 50%;
}

.next-button-container:hover {
    background-color: var(--field-scrollbar-color-hover);
    cursor: pointer;
}

.next-button {
    --close-button-width: 1.5rem;
    --color: var(--letter-color);

    position: relative;
    width: var(--close-button-width);
    height: var(--close-button-width);
    margin: auto;
    top: calc((var(--width) - var(--close-button-width)) / 2);
    background-image: url("/images/navigate_next_white_24dp.svg");
    background-size: cover;
    box-sizing: border-box;
}

/* Before File Preview Button */

.before-button-container {
    --width: 40px;

    position: absolute;
    width: var(--width);
    max-width: var(--width);
    height: var(--width);
    max-height: var(--width);
    top: calc(100% / 2 - var(--width) / 2);
    left: calc(100% / 4 + var(--width) / 2);
    border-radius: 50%;
}

.before-button-container:hover {
    background-color: var(--field-scrollbar-color-hover);
    cursor: pointer;
}

.before-button {
    --close-button-width: 1.5rem;
    --color: var(--letter-color);

    position: relative;
    width: var(--close-button-width);
    height: var(--close-button-width);
    margin: auto;
    top: calc((var(--width) - var(--close-button-width)) / 2);
    background-image: url("/images/navigate_before_white_24dp.svg");
    background-size: cover;
    box-sizing: border-box;
}

/* Post file Preview Window */

.post-file-upload-unknown-file-thumbnail {
    --height: var(--width);
    --border-radius: 15px;
    
    width: var(--width);
    height: var(--width);
    border-radius: var(--border-radius);
    background-color: var(--site-theme-color-1);
}

.unknown-file {
    --unknown-file-width: 1.5rem;
    --color: var(--letter-color);

    position: relative;
    width: var(--unknown-file-width);
    height: var(--unknown-file-width);
    margin: auto;
    top: calc((var(--height) - var(--unknown-file-width)) / 2);
    background-image: url("/images/report_problem_white_24dp.svg");
    background-size: cover;
    box-sizing: border-box;
}

/* Uploaded FIle Peview Window */

.file-preview-window {
    width:100%; 
    height:100%;
    top:0px; 
    left:0px; 
    bottom:0px; 
    right:0px;
    border:0;
}

/* Create a Post Normal Text */

.create-post-text {
    --font-size: 0.75rem;

    font-size: var(--font-size);
}

/* Create a Post Links */

.create-post-link {
    --color: rgb(0, 89, 255);

    color: var(--color);
}

.create-post-link:hover {
    text-decoration: underline;
}

/* Post Body Normal Text */

.post-body-text {
    --top: -1rem;

    position: relative;
    top: var(--top);
}