/* Profile Related */

.profile-background {
    --height: 300px;
    --margin-top: 5%;
    --border-radius: 20px;

    position: relative;
    min-width: 100%;
    max-width: 100%;
    min-height: var(--height);
    max-height: var(--height);
    margin-top: var(--margin-top);
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);

    z-index: 3;
}

.profile-info {
    --profile-picture-radius: 75px;

    position: relative;
    bottom: var(--profile-picture-radius);
}

.profile-image {
    --profile-picture-radius: 75px;
    --margin: 15px;

    position: relative;
    width: calc(2 * var(--profile-picture-radius));
    max-width: calc(2 * var(--profile-picture-radius));
    height: calc(2 * var(--profile-picture-radius));
    max-height: calc(2 * var(--profile-picture-radius));
    margin-left: var(--margin);
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

    z-index: 4;
}

.profile-name {
    --profile-picture-radius: 75px;
    --font-size: 2rem;
    --font-weight: bold;

    position: relative;
    vertical-align: middle;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    /* top: calc(var(--profile-picture-radius) * -1); */
}

.profile-username {
    --font-size: 1.25rem;

    position: relative;
    vertical-align: middle;
    font-size: var(--font-size);
}

/* Profile Settings Related */

.profile-settings-heading-text {
    --font-size: 3rem;
    --font-weight: bold;
    --margin: 5%;

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.profile-settings-section-text {
    --font-size: 2rem;
    --font-weight: bold;
    --margin: 5%;

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.profile-image-preview {
    --profile-picture-radius: 75px;

    position: relative;
    width: calc(2 * var(--profile-picture-radius));
    max-width: calc(2 * var(--profile-picture-radius));
    height: calc(2 * var(--profile-picture-radius));
    max-height: calc(2 * var(--profile-picture-radius));
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

    z-index: 4;
}

.profile-image-preview-upload {
    --margin-top: 2.5%;
    --font-weight: 500;

    position: relative;
    margin-top: var(--margin-top);
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight);
}

.profile-settings-submit-container {
    --width: 30%;
    --margin: 7.5%;

    position: relative;
    margin: auto;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    width: var(--width);
    max-width: var(--width);
    border-radius: var(--border-radius);
}

.profile-settings-gender-container {
    --padding: 15px;
    --width: 75%;
    --margin-top: 5%;

    position: relative;
    display: flex;
    width: var(--width);
    max-width: var(--width);
    margin: auto;
    margin-top: var(--margin-top);
    padding-left: var(--padding);
    padding-right: var(--padding);
    justify-content: space-between;
}

/* Profile Follow Related */

.profile-follow-form {
    --width: 35%;

    position: relative;
    display: inline-block;
    width: var(--width);
    max-width: var(--width);
    border-radius: var(--border-radius);
}

.profile-follow-button {
    --border-radius: 15px;
    --font-size: 1.75rem;
    --font-weight: bold;
    --padding-top-bottom: 0.25rem;
    --padding-left-right: 1rem;
    
    width: 100%;
    max-width: 100%;
    padding: 0.25rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--site-theme-color-1);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.profile-follow-button:hover {
    background-color: var(--site-theme-color-1-hover);
}

.profile-follow-button:focus {
    outline-width: 0;
}

/* Profile Edit Related */

.profile-edit-text-container {
    --width: 35%;

    position: relative;
    top: -50px;
    width: var(--width);
    max-width: var(--width);
    color: var(--background-color);
}

.profile-edit-text {
    --height: 30px;

    min-height: var(--height);
    max-height: var(--height);
    font-size: 1.25rem;
}

/* Profile Followers Related */

.profile-followers-count-text {
    --margin-top: 2.5%;

    margin-top: var(--margin-top);
}