/* Welcome Related */

.welcome-container {
    --width: 100%;
    --height: 100%;

    position: absolute;
    display: flex;
    left: calc(100% - var(--width));
    width: var(--width);
    max-width: var(--width);
    height: var(--height);
    max-height: var(--height);
    align-items: center;
    justify-content: center;
}

.welcome-content-container {
    --content-width: 60%;

    width: var(--content-width);
    max-width: var(--content-width);
    border-radius: 2.5rem;
}

.welcome-content {
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: var(--field-color-2);
    border-radius: 2.5rem;
}

/* Welcome Text */

.welcome-heading-text {
    --font-size: 3rem;
    --font-weight: bold;
    --margin: 7.5%;

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.welcome-tune-in {
    color: var(--site-theme-color-1);
}

.welcome-text {
    --font-size: 1.5rem;
    --margin: 2.5%;

    font-size: var(--font-size);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.welcome-last-text {
    --font-size: 1.5rem;
    --margin: 2.5%;
    --margin-bottom: 7.5%;

    font-size: var(--font-size);
    margin-top: var(--margin);
    margin-bottom: var(--margin-bottom);
}